.app.dark {
  --bg-color: #09318e;
  --inverted-bg: #c6d3f1;

  --primary-color: #f1f1f1;
  --secondary-color: #c7c7c7;
  --inverted-primary-color: #1b1b1b;
  --inverted-secondary-color: #383838;

  --navbar-bg: #c6d3f1;
}
