.app {
  --bg-color: #c6d3f1;
  --inverted-bg: #09318e;
  --primary-color: #1b1b1b;
  --secondary-color: #383838;
  --inverted-primary-color: #f1f1f1;
  --inverted-secondary-color: #c7c7c7;
  --navbar-bg: #09318e;
}
